{% case include.category %}
{% when "shrine" %}
<a class="my-1 rounded-full px-3 bg-red-light text-red-dark font-semibold py-0.5" href="/shrine">shrine</a>
{% when "sequel" %}
<a class="my-1 rounded-full px-3 bg-yellow-light text-yellow-dark font-semibold py-0.5" href="/sequel">sequel</a>
{% when "roda" %}
<a class="my-1 rounded-full px-3 bg-green-light text-green-dark font-semibold py-0.5" href="/roda">roda</a>
{% when "rodauth" %}
<a class="my-1 rounded-full px-3 bg-blue-light text-blue-dark font-semibold py-0.5" href="/rodauth">rodauth</a>
{% when "til" %}
<a class="my-1 rounded-full px-3 bg-teal-light text-teal-dark font-semibold py-0.5" href="/til">til</a>
{% endcase %}
