<div class="mb-6 sm:mb-8 flex flex-initial justify-center space-x-2 md:space-x-3 text-lg md:text-xl">
  <a class="px-0.5 md:px-1 font-medium {% if include.active == "shrine" %}border-b-4 border-red-light text-red-dark{% else %}text-gray-450{% endif %}" href="/shrine">shrine</a>
  <a class="px-0.5 md:px-1 font-medium {% if include.active == "sequel" %}border-b-4 border-yellow-light text-yellow-dark{% else %}text-gray-450{% endif %}" href="/sequel">sequel</a>
  <a class="px-0.5 md:px-1 font-medium {% if include.active == "roda" %}border-b-4 border-green-light text-green-dark{% else %}text-gray-450{% endif %}" href="/roda">roda</a>
  <a class="px-0.5 md:px-1 font-medium {% if include.active == "rodauth" %}border-b-4 border-blue-light text-blue-dark{% else %}text-gray-450{% endif %}" href="/rodauth">rodauth</a>
  <a class="px-0.5 md:px-1 font-medium {% if include.active == "til" %}border-b-4 border-teal-light text-teal-dark{% else %}text-gray-450{% endif %}" href="/til">til</a>
</div>
