{% case include.category %}
{% when "shrine" %}
<a class="my-1 rounded-full px-3 bg-red-100 text-red-700 font-semibold py-0.5" href="/shrine">shrine</a>
{% when "sequel" %}
<a class="my-1 rounded-full px-3 bg-yellow-100 text-yellow-700 font-semibold py-0.5" href="/sequel">sequel</a>
{% when "roda" %}
<a class="my-1 rounded-full px-3 bg-green-100 text-green-700 font-semibold py-0.5" href="/roda">roda</a>
{% when "rodauth" %}
<a class="my-1 rounded-full px-3 bg-blue-100 text-blue-700 font-semibold py-0.5" href="/rodauth">rodauth</a>
{% when "til" %}
<a class="my-1 rounded-full px-3 bg-teal-100 text-teal-700 font-semibold py-0.5" href="/til">til</a>
{% endcase %}
