<div class="pills-outer">
  <ul class="pills">
    {% if include.author == null %}
    <li class="active">
      <div class="pill">All</div>
    {% else %}
    <li>
      <a class="pill" href="/">All</a>
    {% endif %}
    </li>
    {% for author in site.data.authors %}
    {% if include.author == author[0] %}
    <li class="active">
      <div class="pill">By {{ author[1].first_name }}</div>
    {% else %}
    <li>
      <a class="pill" href="/{{ author[0] }}">By {{ author[1].first_name}}</a>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
