{% include post_tabs.html author=include.author %}
{% include bio.html author=include.author %}

<div class="container">
  {% for post in site.posts %}
    {% if post.author == include.author or include.author == null %}
      <article class="post-short">
        <div class="post-short-byline">
          {% unless include.author %}
            By <a class="post-short-author" href="{{ site.baseurl }}/{{ post.author }}">{{ site.data.authors[post.author].name }}</a> on
          {% endunless %}
          <time class="post-short-date" datetime="{{ post.date }}">
            {{ post.date | date_to_string }}
          </time>
        </div>

        <h1 class="post-short-title">
          <a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</a>
        </h1>

        <div class="post-short-body">
          {{ post.excerpt }}
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
