<div class="contact-item">
  <div class="contact-medium contact-twitter">
    <a href="//twitter.com/jankomarohnic" title="Twitter">
      <i class="icon-twitter"></i>
    </a>
  </div>

  <div class="contact-medium contact-github">
    <a href="//github.com/janko-m" title="GitHub">
      <i class="icon-github"></i>
    </a>
  </div>

  <div class="contact-medium contact-email">
    <a href="mailto:janko.marohnic@gmail.com" title="Email">
      <i class="icon-gmail"></i>
    </a>
  </div>

  <div class="contact-medium contact-facebook">
    <a href="//facebook.com/janko.marohnic" title="Facebook">
      <i class="icon-facebook"></i>
    </a>
  </div>
</div>
