{% case include.tag %}
{% when "shrine" %}
<a class="my-1 rounded-full px-3 {% if page.url == "/shrine" and include.active %}bg-red-dark text-white{% else %}bg-red-light text-red-dark{% endif %} font-semibold py-0.5" href="/shrine">shrine</a>
{% when "sequel" %}
<a class="my-1 rounded-full px-3 {% if page.url == "/sequel" and include.active %}bg-yellow-dark text-white{% else %}bg-yellow-light text-yellow-dark{% endif %} font-semibold py-0.5" href="/sequel">sequel</a>
{% when "roda" %}
<a class="my-1 rounded-full px-3 {% if page.url == "/roda" and include.active %}bg-green-dark text-white{% else %}bg-green-light text-green-dark{% endif %} font-semibold py-0.5" href="/roda">roda</a>
{% when "rodauth" %}
<a class="my-1 rounded-full px-3 {% if page.url == "/rodauth" and include.active %}bg-blue-dark text-white{% else %}bg-blue-light text-blue-dark{% endif %} font-semibold py-0.5" href="/rodauth">rodauth</a>
{% when "til" %}
<a class="my-1 rounded-full px-3 {% if page.url == "/til" and include.active %}bg-gray-600 text-white{% else %}bg-gray-100 text-gray-600{% endif %} font-semibold py-0.5" href="/til">til</a>
{% endcase %}
