<div class="my-6 sm:my-8 flex justify-center space-x-2 md:space-x-4 text-sm md:text-base">
  <a class="rounded-full px-3 {% if page.url == "/shrine" %}bg-pink-800 text-white{% else %}bg-pink-100 text-pink-800{% endif %} font-semibold py-0.5" href="/shrine">shrine</a>
  <a class="rounded-full px-3 {% if page.url == "/sequel" %}bg-pink-800 text-white{% else %}bg-pink-100 text-pink-800{% endif %} font-semibold py-0.5" href="/sequel">sequel</a>
  <a class="rounded-full px-3 {% if page.url == "/roda" %}bg-pink-800 text-white{% else %}bg-pink-100 text-pink-800{% endif %} font-semibold py-0.5" href="/roda">roda</a>
  <a class="rounded-full px-3 {% if page.url == "/rodauth" %}bg-pink-800 text-white{% else %}bg-pink-100 text-pink-800{% endif %} font-semibold py-0.5" href="/rodauth">rodauth</a>
</div>
