.alert {
  @include bleed;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  background: rgba($color-primary-light, 0.1);
  border: 1px solid $color-primary-light;
  border-left-style: none;
  border-right-style: none;
  color: $color-primary-dark;

  @include query(800px) {
    margin-left: 0;
    margin-right: 0;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 0.5rem;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  code,
  .highlight pre {
    border-color: rgba(#000, 0.2);
  }

  .highlight pre {
    margin-left: 0;
    margin-right: 0;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 0.5rem;
  }
}
