h1, h2, h3, h4, h5, h6 {
  font-family: $condensed-fallback;

  .wf-active & {
    font-family: $condensed;
  }

  // the condensed font has no bold weight
  strong, b {
    font-weight: inherit;
  }
}

p {
  margin-bottom: 20px;
}
