h1, h2, h3, h4, h5, h6 {
  font-family: $condensed-fallback;

  .wf-active & {
    font-family: $condensed;
  }

  // the condensed font has no bold weight
  strong, b {
    font-weight: inherit;
  }
}

p, ul, ol {
  margin-bottom: 20px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}
