pre {
  margin: 1em -1em;
  padding: 1em;
  border-radius: 0.3em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media (max-width: 800px) {
    border-radius: 0;
  }
}

:not(pre) > code {
  padding: 0 .25em;
  border-radius: 0.25rem;
  background: #f2f2f2;
  word-wrap: break-word;
  color: #333;
  text-transform: none; // resetting in case the parent is uppercase
}

a {
  code {
    color: $color-primary-light;
    text-decoration: inherit;
  }

  &:hover,
  &:focus {
    code {
      color: $color-primary-dark;
    }
  }
}
