pre[class*=language] {
  margin: 1em -1em;

  @media (max-width: 800px) {
    border-radius: 0;
  }
}

code[class*=language] {
  pre:not([class*=language]) & {
    color: inherit;
    text-shadow: none;
  }
}

code:not([class*=language]) {
  padding: 0 .25em;
  border: 1px solid rgba(#000, 0.1);
  border-radius: 0.25rem;
  background-color: #f8f8f8;
  word-wrap: break-word;
  color: #333;
  text-transform: none; // resetting in case the parent is uppercase
}

a {
  code {
    color: $color-primary-light;
    text-decoration: inherit;
  }

  &:hover,
  &:focus {
    code {
      color: $color-primary-dark;
    }
  }
}
