.pills {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 0.8em;

  @media (min-width: 768px) {
    font-size: 1em;
  }

  &-outer {
    margin: 20px 0;
    text-align: center;
  }

  li {
    float: left;
  }
}

.pill {
  $height: 28px;
  display: block;
  width: 86px;
  height: $height;
  line-height: $height - 4px;
  border: 2px solid $color-primary-light;
  border-left-width: 1px;
  border-right-width: 1px;
  text-decoration: none;

  @media (min-width: 480px) {
    width: 120px;
  }

  @media (min-width: 768px) {
    $height: 34px;
    height: $height;
    line-height: $height - 4px;
  }

  li:first-child & {
    border-radius: $height/2 0 0 $height/2;
    border-left-width: 2px;
    border-right-width: 1px;
  }

  li:last-child & {
    border-radius: 0 $height/2 $height/2 0;
    border-left-width: 1px;
    border-right-width: 2px;
  }

  .active & {
    background: $color-primary-light;
    color: #fff;
  }
}
