$sans: roboto;
$monospace: 'source code pro';
$condensed-fallback: 'HelveticaNeue-CondensedBold', 'helvetica', arial, sans-serif;
$condensed: 'roboto condensed', $condensed-fallback;

$color-primary: #c36278;
$color-secondary: #92495a;
