@mixin font-size($font-size, $line-height: 1) {
  font-size: $font-size;
  line-height: ($line-height * $sub) / $font-size
}

@mixin color-link($color1, $color2: $color1) {
  color: $color1;

  #{$interact} {
    color: $color2;
  }
}

// Bleeding is usually used on elements which backgrounds
// you want to stretch all the way to the edges
// of the containing element which has padding.

// Demo: http://codepen.io/silvenon/pen/mKEFd

@mixin bleed($side: both, $amount: $grid-gutter-width) {
  @if $side == left {
    margin-left:  - $amount;
    padding-left:   $amount;
  }
  @if $side == right {
    margin-right: - $amount;
    padding-right:  $amount;
  }
  @if $side == both {
    margin-left:  - $amount;
    margin-right: - $amount;
    padding-left:   $amount;
    padding-right:  $amount;
  }
}

@mixin no-bleed {
  margin-left:    0;
  margin-right:   0;
  padding-left:   0;
  padding-right:  0;
}

// A handy class for situations when all
// you want to do is bleed that element
// and don't feel like making up a class name.

.is-bleeding {
  @include bleed;
}
