// type

$font-family-base:    "myriad-pro", $helvetica;
$font-family-mono:    "inconsolata", $monospace;

// colors

$color-primary:       #C36278;
$color-info:          $color-primary;

$color-text:          rgba(black, .8);
$color-link:          $color-primary;
$color-link-hover:    shade($color-link, 25%);
