// type

$font-family-base:    "myriad-pro", $helvetica;
$font-family-mono:    "inconsolata", $monospace;

// utilities & shortcuts

$sub:                 $line-height-computed;
$suh:                 $line-height-computed / 2;

$interact:            "&:hover, &:focus";

// colors

$color-info:          $brand-primary;

$color-facebook:      #3b5998;
$color-twitter:       #00aced;
$color-google-plus:   #da2713;
$color-vimeo:         #1bb7ea;
$color-youtube:       #e14d40;
$color-github:        #000000;
$color-gmail:         #d72c2c;
$color-linked-in:     #0274b3;
$color-instagram:     #2c6e8e;
$color-vine:          #00a478;
$color-dribbble:      #df4c85;
$color-behance:       #000000;
$color-flickr-blue:   #1e65d9;
$color-flickr-pink:   #fc1486;
$color-soundcloud:    #ff631c;
