// type

$base-spacing-unit:     $base-line-height;
$half-spacing-unit:     $base-spacing-unit / 2;
$line-height-ratio:     $base-line-height / $base-font-size;

// colors

$facebook-color:        #3b5998;
$twitter-color:         #00aced;
$google-plus-color:     #da2713;
$vimeo-color:           #1bb7ea;
$youtube-color:         #e14d40;

// interaction

$interact:              "&:hover, &:focus";

// shortcuts

$bfs:                   $base-font-size;
$bsu:                   $base-spacing-unit;
$hsu:                   $half-spacing-unit;
