.alert {
  padding: $hsu;
  background-color: rgba(black, .02);
  border: 1px solid rgba(black, .2);
  border-radius: 4px;
  margin-bottom: $bsu;

  > *:last-child {
    margin-bottom: 0;
  }
}

  .alert-title {
    color: inherit;
    font-weight: bold;
  }

  .alert-info {
    background-color: rgba($color-info, .1);
    border-color: rgba($color-info, .5);
    color: $color-info;
  }
