.contact {
}

  .contact-item {
    display: inline-block;
    margin-left: - $suh/2;
    margin-bottom: $sub;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      display: block;
      padding: 0 $suh/2;
      border-bottom: none;
      border-radius: 4px;

      #{$interact} {
        background-color: transparent;
      }
    }

    i {
      font-size: 32px;
    }
  }

  .contact-medium {
    font-family: icomoon;
  }

  @each $medium in  (twitter   $color-twitter),
                    (github    $color-github),
                    (facebook  $color-facebook),
                    (email     $color-gmail) {

    .contact-#{nth($medium, 1)} {
      a {
        @include color-link(rgba(black, .3), nth($medium, 2));
      }
    }
  }
