// A clearfixing shortuct. Assumes a Sass library,
// like Compass or Bourbon.

.cf {
  @include clearfix;
}

// When applied on an element, it will float its
// immediate descendants and clearfix itself.
//
// The "l-" prefix is inspired by SMACSS.

// float left

.l-fl {
  @extend .cf;
  > * {
    float: left;
  }
}

// float right

.l-fr {
  @extend .cf;
  > * {
    float: right;
  }
}

// float diverge

.l-fd {
  > *:first-child {
    float: left;
  }

  > *:last-child {
    float: right;
  }
}

// When applied on an element, it will float itself.

// float left

.fl {
  float: left;
}

// float right

.fr {
  float: right;
}
