.list {
  @extend .list-unstyled;
}

  .list-posts {
  }

    .list-posts-item {
      margin-bottom: $sub;
    }

    .list-posts-meta {
      margin-bottom: $suh;
    }

    .list-posts-date {
      color: rgba(black, .5);
    }

    .list-posts-title {
      line-height: 1 * $sub;

      a { padding-bottom: $suh/2; }
    }

    .list-posts-excerpt {
      p { margin-bottom: 0; }
    }
