.media {
  @extend .cf;
}

  .media-object {
    &.fl { margin-right: $bsu; }
    &.fr { margin-left: $bsu; }
  }

  .media-object-small {
    &.fl { margin-right: $hsu; }
    &.fr { margin-left: $hsu; }
  }

  .media-body {
    overflow: hidden;
  }
