.media {
  @extend .cf;
}

  .media-object {
    &.fl { margin-right: $sub; }
    &.fr { margin-left: $sub; }
  }

  .media-object-small {
    &.fl { margin-right: $suh; }
    &.fr { margin-left: $suh; }
  }

  .media-body {
    overflow: hidden;
  }
