.post {
  margin-bottom: 3 * $bsu;
}

  .post-header {
    margin-bottom: $bsu;
    text-align: center;
  }

  .post-title {
    margin-bottom: $hsu;
  }

  .post-meta {
    > * {
      display: inline-block;
    }
  }

  .post-byline {
  }

  .post-date {
    font-weight: bold;
  }
