.post {
  margin-bottom: 3 * $sub;
}

  .post-header {
    margin-bottom: $sub;
    text-align: center;
  }

  .post-title {
    margin-bottom: $suh;
  }

  .post-meta {
  }

  .post-byline {
    display: inline-block;
  }

  .post-date {
    display: inline-block;
    font-weight: bold;
  }

  .post-updated {
    display: inline-block;

    a {
      @include position(relative);
      @include color-link(inherit, rgba(black, .6));
      border-bottom: none;

      #{$interact} {
        background: transparent;

        &:after {
          @include position(absolute, 0 (- $sub) 0 0);
          font-family: "icomoon";
          content: "\e002";
        }
      }
    }
  }
