.post {
  margin-bottom: 3 * $sub;
}

  .post-header {
    margin-bottom: $sub;
    text-align: center;
  }

  .post-title {
    margin-bottom: $suh;
  }

  .post-meta {
  }

  .post-byline {
    display: inline-block;
  }

  .post-date {
    display: inline-block;
    font-weight: bold;
  }

  .post-updated {
    display: inline-block;
  }
