.brand {
  background-color: $color-primary;
  color: rgba(white, .75);
}

  .brand-logo {
    @include font-size(48px);
    margin-bottom: 0;
    font-weight: bold;

    a {
      @include color-link(white);
      display: inline-block;
      margin-left: - $hsu;
      padding: $hsu;
      text-decoration: none;
    }
  }

  .brand-tagline {
    @include font-size(18px);
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 2px;

    strong { color: white; }
  }
