.brand {
  background-color: $brand-primary;
  color: rgba(white, .8);
}

  .brand-logo {
    @include font-size(48px, 2);
    margin-bottom: 0;
    font-weight: bold;

    a {
      @include color-link(white);
      display: inline-block;
      margin-left: - $suh;
      padding: $suh;
      text-decoration: none;
    }
  }

  .brand-tagline {
    @include font-size(18px);
    margin-bottom: 0;
    padding-bottom: $sub;
  }
