pre {
  margin-bottom: 0;
}

.highlight,
p code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.highlight {
  @include font-size(14px);
  margin-bottom: $bsu;
  padding: $hsu;

  @include media-query(palm) {
    @include bleed;
    border-radius: 0;
  }
}

p code {
  @include font-size(14px);
  padding: 2px $hsu/2;
}
