pre {
  @include font-size(14px);
  padding: $hsu;
  border-radius: 4px;
}

p code {
  @include font-size(14px);
  padding: 2px $hsu/2;
  background-color: shade(white, 5%);
  border: 1px solid shade(white, 20%);
  border-radius: 4px;
}
