pre {
  @include font-size(12px, 0.75);
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.highlight {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.highlight {
  @include font-size(14px);
  margin-bottom: $sub;
  padding: $suh;

  @media (max-width: $screen-xs-max) {
    @include bleed;
    border-radius: 0;
  }
}

p, ul, ol {
  code {
    @include font-size(14px);
    padding: 2px $suh/4;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
}
