.header {
  margin-bottom: 2 * $bsu;
  text-align: center;
  font-family: "icomoon", $font-family-base;
  -webkit-font-smoothing: antialiased;

  a {
    border-bottom: none;

    #{$interact} {
      background-color: transparent;
    }
  }

  .l-container {
    display: inline-block;
  }
}
