.header {
  margin-bottom: 2 * $bsu;
  text-align: center;

  a {
    border-bottom: none;

    #{$interact} {
      background-color: transparent;
    }
  }

  .l-container {
    display: inline-block;
  }
}
