.nav {
  background-color: shade($brand-primary, 25%);
  margin-left: - $suh;
  text-transform: uppercase;
  font-size: 0;
  letter-spacing: 1px;

  a {
    @include font-size(16px);
    @include color-link(white);
    display: inline-block;
    padding: $suh;

    #{$interact}, &.active {
      background-color: rgba(black, .2);
    }
  }
}
