pre { background: #181818; padding: 16px; color: #F8F8F8; font-family: Consolas, Monaco,"Lucida Console"; }
pre * { font-family: Consolas, Monaco,"Lucida Console"; }
pre .hll { background-color: #ffffcc }
pre .c { color: #5F5A60; font-style: italic } /* Comment */
pre .err { border:#B22518; } /* Error */
pre .k { color: #CDA869 } /* Keyword */
pre .cm { color: #5F5A60; font-style: italic } /* Comment.Multiline */
pre .cp { color: #5F5A60 } /* Comment.Preproc */
pre .c1 { color: #5F5A60; font-style: italic } /* Comment.Single */
pre .cs { color: #5F5A60; font-style: italic } /* Comment.Special */
pre .gd { background: #420E09 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { background: #B22518 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { background: #253B22 } /* Generic.Inserted */
pre .go {  } /* Generic.Output */
pre .gp { font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt {  } /* Generic.Traceback */
pre .kc {  } /* Keyword.Constant */
pre .kd { color: #e9df8f;  } /* Keyword.Declaration */
pre .kn {  } /* Keyword.Namespace */
pre .kp { color: #9B703F } /* Keyword.Pseudo */
pre .kr {  } /* Keyword.Reserved */
pre .kt {  } /* Keyword.Type */
pre .m { } /* Literal.Number */
pre .s {  } /* Literal.String */
pre .na { color: #F9EE98 } /* Name.Attribute */
pre .nb { color: #CDA869 } /* Name.Builtin */
pre .nc { color: #9B859D; font-weight: bold } /* Name.Class */
pre .no { color: #9B859D } /* Name.Constant */
pre .nd { color: #7587A6 } /* Name.Decorator */
pre .ni { color: #CF6A4C; font-weight: bold } /* Name.Entity */
pre .nf { color: #9B703F; font-weight: bold } /* Name.Function */
pre .nn { color: #9B859D; font-weight: bold } /* Name.Namespace */
pre .nt { color: #CDA869; font-weight: bold } /* Name.Tag */
pre .nv { color: #7587A6 } /* Name.Variable */
pre .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
pre .w { color: #141414 } /* Text.Whitespace */
pre .mf { color: #CF6A4C } /* Literal.Number.Float */
pre .mh { color: #CF6A4C } /* Literal.Number.Hex */
pre .mi { color: #CF6A4C } /* Literal.Number.Integer */
pre .mo { color: #CF6A4C } /* Literal.Number.Oct */
pre .sb { color: #8F9D6A } /* Literal.String.Backtick */
pre .sc { color: #8F9D6A } /* Literal.String.Char */
pre .sd { color: #8F9D6A; font-style: italic; } /* Literal.String.Doc */
pre .s2 { color: #8F9D6A } /* Literal.String.Double */
pre .se { color: #F9EE98; font-weight: bold; } /* Literal.String.Escape */
pre .sh { color: #8F9D6A } /* Literal.String.Heredoc */
pre .si { color: #DAEFA3; font-weight: bold; } /* Literal.String.Interpol */
pre .sx { color: #8F9D6A } /* Literal.String.Other */
pre .sr { color: #E9C062 } /* Literal.String.Regex */
pre .s1 { color: #8F9D6A } /* Literal.String.Single */
pre .ss { color: #CF6A4C } /* Literal.String.Symbol */
pre .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
pre .vc { color: #7587A6 } /* Name.Variable.Class */
pre .vg { color: #7587A6 } /* Name.Variable.Global */
pre .vi { color: #7587A6 } /* Name.Variable.Instance */
pre .il { color: #009999 } /* Literal.Number.Integer.Long */
