h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: black;
  font-weight: normal;
}

h1 {
  @include font-size(42px, 2);
}

h2 {
  @include font-size(22px);
  margin-bottom: $suh;
}

h3 {
  @include font-size(18px);
  text-transform: uppercase;
  margin-bottom: $suh;

  h2 + & {
    margin-top: $sub;
  }
}

a {
  display: inline-block;
  border-bottom: 1px solid rgba($link-color, .5);

  #{$interact} {
    background-color: rgba($link-color, .1);
    border-bottom-color: rgba($link-hover-color, .5);
    text-decoration: none;
  }
}

// ampersand

.header,
h1, h2, h3, h4, h5, h6 {
  font-family: "icomoon", $font-family-base;
  -webkit-font-smoothing: antialiased;
}
