html {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  @include font-size(40px);
}

h2 {
  @include font-size(28px);
  margin-bottom: $hsu;
  text-transform: lowercase;
  font-variant: small-caps;
}

a {
  @include color-link($color-link, $color-link-hover);
  display: inline-block;
  border-bottom: 1px solid rgba($color-link, .5);
  text-decoration: none;

  #{$interact} {
    background-color: rgba($color-link, .1);
    border-bottom-color: rgba($color-link-hover, .5);
  }
}

pre,
code {
  font-family: $font-family-mono;
}

p code,
pre {
  padding: $hsu/2;
  background-color: shade(white, 5%);
  border: 1px solid shade(white, 35%);
  border-radius: 4px;
}
