html {
  font-family: $font-family-base;
  color: rgba(black, .7);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: normal;
}

h1 {
  @include font-size(42px);
}

h2 {
  @include font-size(22px);
  margin-bottom: $hsu;
}

a {
  @include color-link($color-link, $color-link-hover);
  display: inline-block;
  border-bottom: 1px solid rgba($color-link, .5);
  text-decoration: none;

  #{$interact} {
    background-color: rgba($color-link, .1);
    border-bottom-color: rgba($color-link-hover, .5);
  }
}

li {
  margin-bottom: $hsu;
}

// ampersand

.header,
h1, h2, h3, h4, h5, h6 {
  font-family: "icomoon", $font-family-base;
  -webkit-font-smoothing: antialiased;
}
