<!DOCTYPE html>
<html class="no-js personality-{{ page.author }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    {% stylesheet main %}
    {% include javascript.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="main">
      <div class="l-container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% javascript main %}
  </body>
</html>
