---
layout: default
---

<article>
  <h1 class="lg:-mx-28 text-3xl sm:text-4xl lg:text-5xl text-center font-medium text-gray-900">{{ page.title }}</h1>

  <div class="mt-5 flex justify-center items-baseline space-x-4 text-base">
    <span class="text-gray-500">
      By <a class="underline hover:text-gray-700" href="/about">{{ site.author.name }}</a> on
      <time datetime="{{ page.date }}">
        {{ page.date | date_to_string }}
      </time>
    </span>
  </div>

  <div class="mt-6 prose lg:prose-xl">
    {{ content }}
  </div>
</article>

<div class="mt-10">
  {% include comments.html %}
</div>
