---
layout: default
title: "Contact"
---

<h1>About this blog</h1>

<div class="m-bottom">
  <p>
    <img src="/assets/images/about.jpg">
  </p>

  <p>This is a blog written by two <a href="//en.wikipedia.org/wiki/Twin#Monozygotic_.28.22identical.22.29_twins">identical twins</a>, Matija and Janko. One is a web designer and the other one is a web developer. Because people often joke how identical twins are actually one person, we named this blog "Bipolar" to suggest that this blog is actually written by a single, bipolar person, sometimes writing about design and other times about development.</p>
</div>

<div class="l-fd">
  <div>
    <h2>Janko Marohnić</h2>
    {% include social-janko.html %}
  </div>

  <div>
    <h2>Matija Marohnić</h2>
    {% include social-matija.html %}
  </div>
</div>
