---
layout: default
title: "Contact"
---

<div class="media">
  <img src="http://placekitten.com/200/240" class="media-object fl">
  <div class="media-body">
    <h2>Matija Marohnić</h2>

    {% include social-matija.html %}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et mauris nec turpis aliquet consequat. Ut quis metus vel erat molestie aliquam ut sed dui. Curabitur auctor eros id aliquam rhoncus. Nulla vitae felis non tortor elementum tincidunt. Maecenas placerat lorem arcu, id porta lorem porttitor et. Morbi ut velit molestie, hendrerit nisi eu, interdum urna. Aenean faucibus mi nibh, vitae pharetra purus sodales nec.</p>
  </div>
</div>

<div class="media">
  <img src="http://placekitten.com/200/240" class="media-object fl">
  <div class="media-body">
    <h2>Janko Marohnić</h2>

    {% include social-janko.html %}

    <p>Nam at imperdiet diam. Mauris vestibulum ipsum enim, a vulputate lectus iaculis vel. Vestibulum et faucibus lorem, non malesuada dolor. Curabitur in accumsan mi, sed placerat ligula. Nulla et iaculis ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum quis massa sed nibh iaculis pellentesque et sit amet leo. Donec ac magna sed ipsum ullamcorper.</p>
  </div>
</div>
