@include border-box-sizing;

html {
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #333;

  @include query(sm) {
    font-size: 17px;
  }
}

h1, h2, h3, h4, h5, h6,
p, ol, ul, dl,
blockquote, pre {
  margin-top: 0;
  margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-cond;
  font-weight: 400;
  color: #000;

  // our condensed font has no bold weight
  strong, b {
    font-weight: inherit;
  }
}

h1 {
  margin-bottom: 0.25em;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-size: 1.75em;
}

h3 {
  margin-top: 1em;
  font-size: 1.25em;
  text-transform: uppercase;
}

a {
  color: $color-primary-light;

  &:hover,
  &:focus {
    color: $color-primary-dark;
  }
}

strong, b {
  font-weight: 700;
}

code, pre {
  font-family: $font-family-mono;
}

figure {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}
