.highlight {
  pre {
    @include bleed;
    padding: 1rem;
    border: 1px solid #ddd;
    border-left-style: none;
    border-right-style: none;
    background-color: #f8f8f8;
    font-size: 15px;
    overflow-x: auto;

    @include query(md) {
      border-left-style: solid;
      border-right-style: solid;
      border-radius: .5rem;
    }
  }
}
