code,
.highlight pre {
  border: 1px solid rgba(#000, 0.1);
  border-radius: .5rem;
  background-color: #f8f8f8;
  font-size: 15px;
  color: #333;
}

code {
  display: inline-block;
  padding: 0 .25em;
}

a {
  code {
    border-color: rgba($color-primary-light, .25);
  }

  &:hover,
  &:focus {
    code {
      border-color: rgba($color-primary-light, .5);
    }
  }
}

.highlight {
  margin-top: 1rem;
  margin-bottom: 1rem;

  pre {
    @include bleed;
    padding: 1rem;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;
    overflow-x: auto;

    @include query(800px) {
      margin-left: 0;
      margin-right: 0;
      border-left-style: solid;
      border-right-style: solid;
      border-radius: .5rem;
    }

    code {
      border-style: none;
      border-radius: 0;
      background-color: transparent;
    }
  }
}
