.social {
  @include clearfix;

  ol, ul {
    @include list-unstyled;

    li {
      display: inline-block;
    }
  }

  &-card {
    @include query(sm) {
      float: left;
      width: 50%;
    }

    &:last-child {
      text-align: right;
    }
  }

  a {
    display: inline-block;
    padding: 0 .25em;
    font-size: 1.5em;
    text-decoration: none;
    color: #999;
  }

  &-network {
    @each $network, $color in $network-colors {
      &.#{$network} {
        a {
          &:hover,
          &:focus {
            color: $color;
          }
        }
      }
    }
  }
}
